* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: rgb(220, 20, 47);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 2rem; 
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
}

.nav-contact-links {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.nav-contact-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-contact-links a:hover {
    color: #ddd;
}

.profile-container {
    flex: 1;
    display: flex;
    align-items: center;  
    margin: 2rem auto 0 auto; 
    max-width: 1200px;
    gap: 2rem;
    padding: 2rem;
}

.profile-pic img {
    max-width: 100%;
    height: auto;
}

.descriptions {
    flex: 1;
}

.description-short p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.description-long p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 1rem 0;
}

.btn {
    background-color: rgb(220, 20, 47);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #000;
}

.logo1:hover {
    color: #000;
}

.bottom-container {
    display: flex;
    gap: 1rem;
}

.footer-container {
    background-color: rgb(220, 20, 47); 
    color: white;
    padding: 2rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row; 
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.footer-links li {
    margin: 0;
    padding: 0;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ddd;
}

@media (max-width: 899px) {
    .profile-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic img {
        max-width: 100%;
        height: auto;
    }

    .bottom-container {
        justify-content: center;
        margin-bottom: 10%;
    }

    .nav-contact-links {
        flex-direction: column; 
        gap: 0.5rem;
    }

    .navbar {
        justify-content: center;
        align-items: center;
        padding: 1rem; 
    }

    header {
        padding: 1rem; 
        width: 100%;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem; 
    }

    .footer-container {
        justify-content: center;
        align-items: center;
        padding: 1rem; 
    }

    .nav-contact-links a {
        font-size: larger; 
    }
}
